body {
  font-family: "Inter", sans-serif;
  margin: 0 auto;
}

blockquote {
  font-size: 0.75rem;
  padding: 0;
  margin: 0;
}

h5 {
  color: #16213e;
  font-size: 1rem;
  font-weight: 400;
}

/*This is the header*/

.header {
  display: flex;
  justify-content: space-between;
  padding: 2rem 10%;
}

.hero {
  display: flex;
  flex-flow: column wrap;
  align-content: center;
  align-items: center;
}

.hero > h1 {
  font-size: 2.25rem;
  padding: 0 1rem;
  margin-bottom: 1rem;
}

.hero > p {
  font-size: 1.25rem;
  margin: 0 0 1rem 0;
}

.header-contact {
  display: flex;
  justify-content: space-between;
  padding: 2rem 10%;
  border-bottom: 1px solid #e3e5ea;
}

.hero-contact > h1 {
  font-weight: 300;
  font-size: 2rem;
  margin-top: 3rem;
}

.avatar {
  width: 10rem;
  max-width: 100%;
  margin: 3rem 0;
}

.avatar-contact {
  width: 5.5rem;
  max-width: 100%;
  margin-top: -3.5rem;
}

.hero-foot {
  width: 36rem;
  max-width: 100%;
}

/*This the Introduction*/

.introduction {
  width: 100%;
  margin: 0 auto;
  padding-top: 2rem;
  padding-bottom: 10rem;
  background-color: #ffab4c;
}

.title-introduction {
  display: flex;
  flex-flow: column wrap;
  align-items: center;
  align-content: center;
}

.title-introduction h2 {
  padding: 0 1rem;
  margin: 2rem 0 0.25rem 0;
}

.title-introduction p {
  max-width: 65ch;
  min-width: 18rem;
  padding: 0 2rem;
  font-size: 1rem;
  font-weight: 500;
  line-height: 170%;
}

/*This is Skills*/

.skills-container {
  max-width: 80%;
  margin: 0 auto;
}

.skills {
  display: flex;
  flex-flow: row wrap;
  justify-content: center;
  align-content: center;
  gap: 1rem;
}

.skills div {
  flex: 2;
  min-width: 18rem;
  height: 26rem;
  background-color: #16213e;
  border-radius: 1rem;
  padding: 4rem 1rem;
  margin-top: -6rem;
}

.skills h3 {
  font-size: 1.5rem;
  color: #ffab4c;
}

.skills h4 {
  font-size: 1rem;
  color: #ffab4c;
}

.skills p {
  font-size: 1rem;
  color: #ffffff;
}

.skills ul {
  list-style-type: none;
  padding: 0 0 0 0;
  font-size: 1rem;
  color: #ffffff;
}

.skills li {
  margin: 0.5rem auto;
}

.skills span {
  flex-basis: 100%;
  margin-top: 3rem;
  margin-bottom: 5rem;
}

.skills span > p {
  color: #16213e;
}

/*This is Development*/

.container-development {
  width: 100%;
  margin: 0 auto;
  padding-top: 5rem;
  padding-bottom: 5rem;
  border-top: 1px solid #e3e5ea;
  box-shadow: inset 0px 1px 10px #e3e5ea;
}

.title-development {
  display: flex;
  flex-flow: column wrap;
  align-items: center;
  align-content: center;
}

.title-development p {
  margin: 0 auto;
  padding-bottom: 3.5rem;
}

.development {
  max-width: 90%;
  margin: 0 auto;
}

.services {
  display: flex;
  flex-flow: row wrap;
  justify-content: center;
  gap: 3.5rem;
}

.services img {
  width: 100%;
}

.card div {
  background-color: #16213e;
  min-width: 16rem;
  max-width: min-content;
  margin-bottom: 2rem;
  padding: 2rem;
  height: auto;
  border-radius: 1rem;
}

@media (min-width: 729px) and (max-width: 1101px) {
  .card {
    display: flex;
    flex-flow: row wrap;
    gap: 1rem;
  }

  .card div {
    display: inline-block;
  }
}

@media only screen and (max-width: 729px) {
  .card {
    display: flex;
    flex-flow: row wrap;
    gap: 1rem;
  }

  .card div {
    display: block;
    max-width: max-content;
    margin-bottom: 0;
  }
}

.card h3 {
  margin: 0;
  padding-bottom: 1.25rem;
  color: #e94560;
}

.card p {
  margin: 0;
  font-size: 1rem;
  color: #e3e5ea;
}

/*This is Recent Work*/
.container-work {
  width: 80%;
  margin: 0 auto;
}

.work {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(18rem, 1fr));
  gap: 1.25rem;
  margin-top: -6rem;
}

@media (min-width: 1440px) and (max-width: 1920px) {
  .work {
    grid-template-columns: repeat(auto-fill, minmax(23rem, 1fr));
    justify-content: center;
  }
}

@media (min-width: 450px) and (max-width: 1152px) {
  .work {
    grid-template-columns: repeat(auto-fill, minmax(18rem, 1fr));
    justify-content: center;
  }
}

.work div {
  height: 18rem;
  background-color: #e3e5ea;
  border-radius: 1rem;
}

.container-work span {
  display: block;
  margin: 8rem 0;
}

.container-work span > h3 {
  font-size: 1.25rem;
  color: #16213e;
}

.container-work span > p {
  margin-bottom: 3rem;
  color: #16213e;
}

/*This is Testimonials*/

.circle {
  width: 5rem;
  height: 5rem;
  margin-top: 3rem;
  background-color: #e3e5ea;
  border-radius: 50%;
}

.comments {
  margin-bottom: 5rem;
}

.comments h4 {
  margin: 0.5rem 0;
}

.comments p {
  font-weight: 500;
  margin: 1.25rem 1rem;
}

/*This is Footer*/

.footer-container {
  width: 100%;
  height: 35rem;
  background-color: #ffab4c;
  display: flex;
  flex-flow: column wrap;
  justify-content: center;
}

.footer {
  margin-top: 7rem;
  margin-bottom: 3rem;
}

.footer h4 {
  margin: 0.25rem;
}

.footer p {
  margin: 0 1rem;
  font-size: 1.35rem;
}

.footer img {
  margin: 3rem 0;
}

.footer img:nth-child(2) {
  margin-top: 5rem;
}

.footer small {
  display: block;
  padding: 0 1.25rem;
  margin: 0 auto;
}

.news {
  width: 80%;
  height: 10rem;
  margin: 0 auto;
  margin-top: -10rem;
  background-color: #16213e;
  border-radius: 1rem;
}

/*This is Contact*/

.form-container {
  width: 90%;
  margin: 0 auto;
  margin-top: 4rem;
  padding: 0 1rem;
}

.form {
  vertical-align: baseline;
  width: 40rem;
  margin: 4rem auto 0;
}

.form-group {
  display: flex;
  flex-flow: row wrap;
  justify-content: center;
  gap: 2rem;
}

.column {
  display: flex;
  flex-flow: column wrap;
  align-content: center;
  gap: 0;
}

.form-group div {
  flex: none;
  max-width: 38rem;
  min-width: 18rem;
}

@media only screen and (max-width: 675px) {
  .form-group {
    display: flex;
    flex-flow: row wrap;
    justify-content: center;
    gap: 0;
  }
  .form-group div {
    flex: 2;
  }
}

.form-group div > input {
  height: 2rem;
  font-size: 1.25rem;
  border: 1px solid #e3e5ea;
  padding: 0.75rem;
  margin-bottom: 1rem;
  width: calc(100% - 1.5rem);
}

.form-group div > textarea {
  font-size: 1.25rem;
  border: 1px solid #e3e5ea;
  padding: 0.75rem;
  margin-bottom: 5rem;
  width: calc(100% - 1.5rem);
}

.form-name h5 {
  margin-top: 0;
  margin-bottom: 0.75rem;
}

.icon {
  display: inline-flex;
  justify-content: center;
  align-items: center;
  border-radius: 50%;
  color: #16213e;
  border: 2px solid #16213e;
  width: 3rem;
  height: 3rem;
  margin: 3rem 0.5rem;
}

.icon:hover {
  background-color: #16213e;
  color: #ffab4c;
}

/*Utilities*/

.btn {
  width: 7rem;
  height: 2.75rem;
  font-size: 1rem;
  margin: 0 auto;
  border-radius: 2rem;
  border: 2px solid #e94560;
  background-color: #ffffff;
  color: #e94560;
}

.btn a {
  text-decoration: none;
  color: #e94560;
}

.btn:hover {
  background-color: #e94560;
  color: #ffffff;
  cursor: pointer;
}

.l {
  width: 14rem;
}

.btn-secondary {
  width: 7rem;
  height: 2.75rem;
  font-size: 1rem;
  border-radius: 2rem;
  border: 2px solid #ffab4c;
  background-color: #ffffff;
  color: #ffab4c;
}

.btn-secondary a {
  text-decoration: none;
  color: #ffab4c;
}

.btn-secondary:hover {
  background-color: #ffab4c;
  color: #ffffff;
  cursor: pointer;
}

.btn-tertiary {
  width: 2.75rem;
  height: 2.75rem;
  font-size: 1.25rem;
  border: none;
  background-color: #ffffff;
  color: #ffab4c;
}

.btn-tertiary a {
  text-decoration: none;
  color: #ffab4c;
}

.btn-tertiary:hover {
  color: #ffab4c;
  cursor: pointer;
}

/*This is !IMPORTANT*/

.center {
  text-align: center !important;
}
